{% extends "base.html" %}{%block title%}Login{% endblock %}


{%block content%}
<form align = "center" method="POST">
    <h3>Login</h3>
    <div  class="form-group">
        <label for="email" >Email Address</label>
        <input type="email" name="email" id="email" placeholder="Enter email" />
    </div>
    <br>
    <div class="form-group">
        <label for="password" >Enter Password</label>
        <input type="password" name="password" id="password" placeholder="Enter password" />
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}